Django==5.2.*
psycopg2-binary
python-dotenv
Pillow
django-crispy-forms
crispy-bootstrap5
python-barcode
qrcode[pil]
gunicorn
python-dateutil
openpyxl
xhtml2pdf
reportlab
djangorestframework
django-filter
django-cors-headers
drf-spectacular
