{% extends 'base_templates/modern_form.html' %}
{% load static i18n %}

{% block page_module %}contracting{% endblock %}
{% block page_icon %}bi-building{% endblock %}
{% block page_title %}{% trans 'عامل مقاولات' %}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/modern_pages.css' %}">

{% endblock %}

{% block form_content %}
<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="h3 mb-0">{{ page_title }}</h1>
    <a href="{% url 'contracting:worker_list' %}" class="btn btn-outline-secondary">{% trans "العودة" %}</a>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <form method="post" novalidate>
            {% csrf_token %}
            <div class="row g-3">
              <div class="col-md-6">
                <label class="form-label">{% trans "اسم العامل" %} *</label>
                {{ form.name }}
              </div>
              <div class="col-md-6">
                <label class="form-label">{% trans "رقم الهوية" %} *</label>
                {{ form.national_id }}
              </div>
              <div class="col-md-6">
                <label class="form-label">{% trans "رقم الهاتف" %}</label>
                {{ form.phone }}
              </div>
              <div class="col-md-6">
                <label class="form-label">{% trans "المسمى الوظيفي" %}</label>
                {{ form.job_title }}
              </div>
              <div class="col-12">
                <label class="form-label">{% trans "العنوان" %}</label>
                {{ form.address }}
              </div>
              <div class="col-md-6">
                <label class="form-label">{% trans "نوع العامل" %}</label>
                {{ form.worker_type }}
              </div>
              <div class="col-md-6">
                <label class="form-label">{% trans "الأجر اليومي" %}</label>
                {{ form.daily_wage }}
              </div>
              <div class="col-md-6">
                <label class="form-label">{% trans "تاريخ التعيين" %}</label>
                {{ form.hire_date }}
              </div>
              <div class="col-md-6">
                <label class="form-label">{% trans "المشروع الحالي" %}</label>
                {{ form.current_project }}
              </div>
              <div class="col-12">
                <div class="form-check">
                  {{ form.is_active }}
                  <label class="form-check-label">{% trans "نشط" %}</label>
                </div>
              </div>
              <div class="col-12">
                <label class="form-label">{% trans "ملاحظات" %}</label>
                {{ form.notes }}
              </div>
            </div>
            <hr>
            <div class="d-flex justify-content-end gap-2">
              <a href="{% url 'contracting:worker_list' %}" class="btn btn-secondary">{% trans "إلغاء" %}</a>
              <button type="submit" class="btn btn-primary">{% trans "حفظ" %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


