{% comment %}
Action Button Component
زر عملية يظهر أو يختفي حسب الصلاحيات
{% endcomment %}

{% if can_execute %}
<a href="{{ url }}" class="btn {{ btn_class }} action-{{ action_id }}" data-action="{{ action_id }}">
    {% if icon %}
        <i class="{{ icon }}"></i>
    {% endif %}
    {{ label }}
</a>
{% else %}
    {% comment %}
    اختياري: يمكن إظهار الزر معطل مع رسالة توضيحية
    {% endcomment %}
    {% if message %}
    <button class="btn {{ btn_class }} disabled" disabled title="{{ message }}">
        {% if icon %}
            <i class="{{ icon }}"></i>
        {% endif %}
        {{ label }}
    </button>
    {% endif %}
{% endif %}


